@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
	-webkit-tap-highlight-color: transparent;
}
.mobile-topbar-logo .yt-spec-icon-shape {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='SVGRoot' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 388.8 79.8' style='enable-background:new 0 0 388.8 79.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FF0000;%7D .st1%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath id='path6' class='st0' d='M111.7,12.5c-1.3-4.9-5.2-8.8-10.1-10.1C92.7,0,57,0,57,0S21.4,0,12.5,2.4C7.5,3.7,3.7,7.5,2.4,12.5 C0,21.4,0,39.9,0,39.9s0,18.6,2.4,27.5c1.3,4.9,5.2,8.8,10.1,10.1c8.9,2.4,44.6,2.4,44.6,2.4s35.7,0,44.6-2.4 c4.9-1.3,8.8-5.2,10.1-10.1c2.4-8.9,2.4-27.5,2.4-27.5S114.1,21.4,111.7,12.5z'/%3E%3Cpath id='path8' class='st1' d='M45.6,57l29.6-17.1L45.6,22.8V57z'/%3E%3Cpath id='path10' d='M164.7,25.3v2.8c0,13.8-6.1,21.9-19.5,21.9h-2v24.1h-10.9V5.7h13.9C158.9,5.7,164.7,11.1,164.7,25.3z M153.2,26.3c0-9.9-1.8-12.3-8-12.3h-2v27.8h1.9c5.9,0,8.2-4.2,8.2-13.5L153.2,26.3z M190.6,23.3l-0.6,13c-4.6-1-8.5-0.2-10.2,2.8 v35.1H169v-50h8.6l1,10.8h0.4c1.1-7.9,4.8-11.9,9.5-11.9C189.2,23.1,189.9,23.1,190.6,23.3L190.6,23.3z M203.1,52.9v2.5 c0,8.8,0.5,11.8,4.2,11.8c3.6,0,4.4-2.8,4.5-8.5l9.7,0.6c0.7,10.8-4.9,15.6-14.4,15.6c-11.6,0-15-7.6-15-21.4v-8.7 c0-14.5,3.8-21.6,15.3-21.6c11.6,0,14.5,6,14.5,21.1v8.6H203.1z M203.1,42.6v3.6h8.2v-3.6c0-9.2-0.7-11.8-4.1-11.8 C203.7,30.8,203.1,33.5,203.1,42.6L203.1,42.6z M277.9,36.3v37.8h-11.2V37.2c0-4.1-1.1-6.1-3.5-6.1c-2,0-3.8,1.1-5,3.3 c0.1,0.7,0.1,1.4,0.1,2v37.8H247V37.2c0-4.1-1.1-6.1-3.5-6.1c-2,0-3.7,1.1-4.9,3.2v39.9h-11.3v-50h8.9l1,6.4h0.2 c2.5-4.8,6.6-7.4,11.4-7.4c4.7,0,7.4,2.4,8.6,6.6c2.6-4.3,6.5-6.6,11-6.6C275.3,23.1,277.9,27.9,277.9,36.3z M283.5,11.3 c0-5.4,2-6.9,6.1-6.9c4.2,0,6.1,1.8,6.1,6.9c0,5.5-1.9,6.9-6.1,6.9C285.5,18.2,283.5,16.9,283.5,11.3z M284.2,24.1H295v50h-10.8 V24.1z M331.7,24.1v50h-8.8l-1-6.1h-0.2c-2.5,4.9-6.2,6.9-10.8,6.9c-6.7,0-9.7-4.2-9.7-13.5V24.1h11.3v36.7c0,4.4,0.9,6.2,3.2,6.2 c2.1-0.1,3.9-1.3,4.8-3.2V24.1H331.7z M388.8,36.3v37.8h-11.3V37.2c0-4.1-1.1-6.1-3.5-6.1c-2,0-3.8,1.1-5,3.3c0.1,0.7,0.1,1.3,0.1,2 v37.8h-11.3V37.2c0-4.1-1.1-6.1-3.5-6.1c-2,0-3.7,1.1-4.9,3.2v39.9h-11.3v-50h8.9l1,6.4h0.2c2.5-4.8,6.6-7.4,11.4-7.4 c4.7,0,7.4,2.4,8.6,6.6c2.6-4.3,6.5-6.6,11-6.6C386.2,23.1,388.8,27.9,388.8,36.3z'/%3E%3C/svg%3E%0A");
}
html[darker-dark-theme] .mobile-topbar-logo .yt-spec-icon-shape {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='SVGRoot' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 388.8 79.8' style='fill:white; enable-background:new 0 0 388.8 79.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FF0000;%7D .st1%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath id='path6' class='st0' d='M111.7,12.5c-1.3-4.9-5.2-8.8-10.1-10.1C92.7,0,57,0,57,0S21.4,0,12.5,2.4C7.5,3.7,3.7,7.5,2.4,12.5 C0,21.4,0,39.9,0,39.9s0,18.6,2.4,27.5c1.3,4.9,5.2,8.8,10.1,10.1c8.9,2.4,44.6,2.4,44.6,2.4s35.7,0,44.6-2.4 c4.9-1.3,8.8-5.2,10.1-10.1c2.4-8.9,2.4-27.5,2.4-27.5S114.1,21.4,111.7,12.5z'/%3E%3Cpath id='path8' class='st1' d='M45.6,57l29.6-17.1L45.6,22.8V57z'/%3E%3Cpath id='path10' d='M164.7,25.3v2.8c0,13.8-6.1,21.9-19.5,21.9h-2v24.1h-10.9V5.7h13.9C158.9,5.7,164.7,11.1,164.7,25.3z M153.2,26.3c0-9.9-1.8-12.3-8-12.3h-2v27.8h1.9c5.9,0,8.2-4.2,8.2-13.5L153.2,26.3z M190.6,23.3l-0.6,13c-4.6-1-8.5-0.2-10.2,2.8 v35.1H169v-50h8.6l1,10.8h0.4c1.1-7.9,4.8-11.9,9.5-11.9C189.2,23.1,189.9,23.1,190.6,23.3L190.6,23.3z M203.1,52.9v2.5 c0,8.8,0.5,11.8,4.2,11.8c3.6,0,4.4-2.8,4.5-8.5l9.7,0.6c0.7,10.8-4.9,15.6-14.4,15.6c-11.6,0-15-7.6-15-21.4v-8.7 c0-14.5,3.8-21.6,15.3-21.6c11.6,0,14.5,6,14.5,21.1v8.6H203.1z M203.1,42.6v3.6h8.2v-3.6c0-9.2-0.7-11.8-4.1-11.8 C203.7,30.8,203.1,33.5,203.1,42.6L203.1,42.6z M277.9,36.3v37.8h-11.2V37.2c0-4.1-1.1-6.1-3.5-6.1c-2,0-3.8,1.1-5,3.3 c0.1,0.7,0.1,1.4,0.1,2v37.8H247V37.2c0-4.1-1.1-6.1-3.5-6.1c-2,0-3.7,1.1-4.9,3.2v39.9h-11.3v-50h8.9l1,6.4h0.2 c2.5-4.8,6.6-7.4,11.4-7.4c4.7,0,7.4,2.4,8.6,6.6c2.6-4.3,6.5-6.6,11-6.6C275.3,23.1,277.9,27.9,277.9,36.3z M283.5,11.3 c0-5.4,2-6.9,6.1-6.9c4.2,0,6.1,1.8,6.1,6.9c0,5.5-1.9,6.9-6.1,6.9C285.5,18.2,283.5,16.9,283.5,11.3z M284.2,24.1H295v50h-10.8 V24.1z M331.7,24.1v50h-8.8l-1-6.1h-0.2c-2.5,4.9-6.2,6.9-10.8,6.9c-6.7,0-9.7-4.2-9.7-13.5V24.1h11.3v36.7c0,4.4,0.9,6.2,3.2,6.2 c2.1-0.1,3.9-1.3,4.8-3.2V24.1H331.7z M388.8,36.3v37.8h-11.3V37.2c0-4.1-1.1-6.1-3.5-6.1c-2,0-3.8,1.1-5,3.3c0.1,0.7,0.1,1.3,0.1,2 v37.8h-11.3V37.2c0-4.1-1.1-6.1-3.5-6.1c-2,0-3.7,1.1-4.9,3.2v39.9h-11.3v-50h8.9l1,6.4h0.2c2.5-4.8,6.6-7.4,11.4-7.4 c4.7,0,7.4,2.4,8.6,6.6c2.6-4.3,6.5-6.6,11-6.6C386.2,23.1,388.8,27.9,388.8,36.3z'/%3E%3C/svg%3E%0A") !important;
}
ytm-rich-section-renderer {
    padding-top: 10px !important;
}
.chip-bar {
    border: 0px !important;
}
[aria-label="Share"] bottom-sheet-layout
{
  display: none !important;
}
[aria-label="Share"] .bottom-sheet-overlay.modern-overlay
{
  display: none !important;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*AD block*/
.ytp-ad-module{
  display: none !important;
}
.ytp-ad-overlay-slot{
  visibility: hidden !important;
}
.companion-ad-container{
  display: none !important;
}
ytm-promoted-sparkles-web-renderer.item {
  display: none !important;
}
ytm-promoted-sparkles-text-search-renderer.item{
  display: none !important;
}
#masthead-ad{
  display: none !important;
}
.videoAdUiPreSkipButton{
  display: none !important;
}
.ytp-ad-preview-container{
  display: none !important;
}
.videoAdUiAttribution{
  display: none !important;
}
.ytp-ad-duration-remaining{
  display: none !important;
}
ytm-promoted-video-renderer{
  display: none !important;
}
/*//////////////////////*/
[aria-label="Open App"] {
  display: none !important;
}
button.icon-button.fullscreen-icon{
  display: none !important;
}
download{
  display: none;
}
dwn{
  background-color:'#212121';
  width: 50%;
}


.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-link {
    font-weight: 400;
    color: #0d6efd;
    text-decoration: underline;
}
.form-select {
  max-width:150px;
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    margin-top: 5px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-circle{
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: #212529c7;
    box-shadow: 2px 2px;
    z-index: 6;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.4);
    will-change: transform;
}
.btn-reload{
    position: fixed;
    bottom: 52px;
    right: 20px;
}
.btn-fullscreen{
    position: fixed;
    bottom: 52px;
    right: 20px;
}
.btn-fullscreen-exit{
    position: fixed;
    bottom: 52px;
    right: 20px;
    z-index: 99999;
}
.btn-download{
    position: fixed;
    bottom: 97px;
    right: 20px;
}
.btn-pip{
    position: fixed;
    bottom: 142px;
    right: 20px;
}
.btn-downloads{
    position: fixed;
    bottom: 52px;
    right: 65px;
}
/*
ytm-home-logo {
        width: 100px !important;
        margin-left: 15px;
        margin-right: 5px;
		content: url("data:image/svg+xml,%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' id='SVGRoot' version='1.1' viewBox='0 0 846 174' height='24px' width='98px'%3E%3Cdefs id='defs855'%3E%3Cstyle id='style2' /%3E%3C/defs%3E%3Cmetadata id='metadata858'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg id='layer1'%3E%3Cg transform='translate(0,0.36)' data-name='Layer 2' id='Layer_2'%3E%3Cg data-name='Layer 1' id='Layer_1-2'%3E%3Cpath style='fill:%23ff0000' id='path6' d='M 242.88,27.11 A 31.07,31.07 0 0 0 220.95,5.18 C 201.6,0 124,0 124,0 124,0 46.46,0 27.11,5.18 A 31.07,31.07 0 0 0 5.18,27.11 C 0,46.46 0,86.82 0,86.82 c 0,0 0,40.36 5.18,59.71 a 31.07,31.07 0 0 0 21.93,21.93 c 19.35,5.18 96.92,5.18 96.92,5.18 0,0 77.57,0 96.92,-5.18 a 31.07,31.07 0 0 0 21.93,-21.93 c 5.18,-19.35 5.18,-59.71 5.18,-59.71 0,0 0,-40.36 -5.18,-59.71 z' /%3E%3Cpath style='fill:%23ffffff' id='path8' d='M 99.22,124.03 163.67,86.82 99.22,49.61 Z' /%3E%3Cpath style='fill:%23ffffff' id='path10' d='m 358.29,55.1 v 6 c 0,30 -13.3,47.53 -42.39,47.53 h -4.43 v 52.5 H 287.71 V 12.36 H 318 c 27.7,0 40.29,11.71 40.29,42.74 z m -25,2.13 c 0,-21.64 -3.9,-26.78 -17.38,-26.78 h -4.43 v 60.48 h 4.08 c 12.77,0 17.74,-9.22 17.74,-29.26 z m 81.22,-6.56 -1.24,28.2 c -10.11,-2.13 -18.45,-0.53 -22.17,6 v 76.26 H 367.52 V 52.44 h 18.8 L 388.45,76 h 0.89 c 2.48,-17.2 10.46,-25.89 20.75,-25.89 a 22.84,22.84 0 0 1 4.42,0.56 z M 441.64,115 v 5.5 c 0,19.16 1.06,25.72 9.22,25.72 7.8,0 9.58,-6 9.75,-18.44 l 21.1,1.24 c 1.6,23.41 -10.64,33.87 -31.39,33.87 -25.18,0 -32.63,-16.49 -32.63,-46.46 v -19 c 0,-31.57 8.34,-47 33.34,-47 25.18,0 31.57,13.12 31.57,45.93 V 115 Z m 0,-22.35 v 7.8 h 17.91 V 92.7 c 0,-20 -1.42,-25.72 -9,-25.72 -7.58,0 -8.91,5.86 -8.91,25.72 z M 604.45,79 v 82.11 H 580 V 80.82 c 0,-8.87 -2.31,-13.3 -7.63,-13.3 -4.26,0 -8.16,2.48 -10.82,7.09 a 35.59,35.59 0 0 1 0.18,4.43 v 82.11 H 537.24 V 80.82 c 0,-8.87 -2.31,-13.3 -7.63,-13.3 -4.26,0 -8,2.48 -10.64,6.92 v 86.72 H 494.5 V 52.44 h 19.33 L 516,66.28 h 0.35 c 5.5,-10.46 14.37,-16.14 24.83,-16.14 10.29,0 16.14,5.14 18.8,14.37 5.68,-9.4 14.19,-14.37 23.94,-14.37 14.86,0 20.53,10.64 20.53,28.86 z m 12.24,-54.4 c 0,-11.71 4.26,-15.07 13.3,-15.07 9.22,0 13.3,3.9 13.3,15.07 0,12.06 -4.08,15.08 -13.3,15.08 -9.04,-0.01 -13.3,-3.02 -13.3,-15.08 z m 1.42,27.84 h 23.41 v 108.72 h -23.41 z m 103.39,0 v 108.72 h -19.15 l -2.13,-13.3 h -0.53 c -5.5,10.64 -13.48,15.07 -23.41,15.07 -14.54,0 -21.11,-9.22 -21.11,-29.26 V 52.44 h 24.47 v 79.81 c 0,9.58 2,13.48 6.92,13.48 A 12.09,12.09 0 0 0 697,138.81 V 52.44 Z M 845.64,79 v 82.11 H 821.17 V 80.82 c 0,-8.87 -2.31,-13.3 -7.63,-13.3 -4.26,0 -8.16,2.48 -10.82,7.09 A 35.59,35.59 0 0 1 802.9,79 v 82.11 H 778.43 V 80.82 c 0,-8.87 -2.31,-13.3 -7.63,-13.3 -4.26,0 -8,2.48 -10.64,6.92 v 86.72 H 735.69 V 52.44 H 755 l 2.13,13.83 h 0.35 c 5.5,-10.46 14.37,-16.14 24.83,-16.14 10.29,0 16.14,5.14 18.8,14.37 5.68,-9.4 14.19,-14.37 23.94,-14.37 14.95,0.01 20.59,10.65 20.59,28.87 z' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") !important;
	}*/
